<style>
    .modal-lg {
            width: 900px;
        }
        .form-table {
            width: 100%;
            display: inline-block;
            padding: 15px 0px;
            margin-bottom: 15px;
        }
        .form-group {
            margin-bottom: 5px
        }
        li {
            list-style-type: none;
        }
        li ul {
            display: none;
            border: 1px solid #000000;
            margin-left: -3px;
        }
        table {
               width: 100%;
           }
    
           thead, tbody, tr, td, th { display: block; }
    
           tr:after {
               content: ' ';
               display: block;
           visibility: hidden;
           clear: both;
       }
    
       thead th {
           height: 30px;
    
           /* text-align: left; */
       }
    
       tbody {
           height: 120px;
           overflow-y: auto;
       }
    
       thead {
           /* fallback */
       }
    
    
       tbody td,
       thead th {
           /* width: auto; */
           float: left;
       }
    </style>
<form ng-keypress="($event.charCode==13)? Search(): return" class="form-horizontal" role="form" novalidate name="form"
    style="padding-top:30px">
    <legend>
        <h3>{{'detailuanvanQuery'|translate}}</h3>
    </legend>
    <div class="col-sm-12 form-group">
        <div class="form-group search-table">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'lv'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="lv" />
                </div>
                <label class="col-sm-2 control-label">{{'hv'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="hv" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'qd'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="qd" />
                </div>
                <label class="col-sm-2 control-label">{{'bm'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-disabled="!isAdmin" ng-model="bm" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'cn'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="cn" />
                </div>
                <label class="col-sm-2 control-label">{{'cm'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="cm" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{'Status'|translate}}</label>
                <div class="col-sm-3">
                    <select class="form-control" name="s_status" ng-change="Search()" ng-model="s_status" ng-options="s.id as s.name for s in statuslist">
                        <option value="">{{'Show All' | translate}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label></label>
                </div>
                <div class="col-sm-3">
                    <!-- <label>
                            <input name="onlyOwner" type="checkbox" ng-model="onlyOwner"> {{'onlyOwner'|translate}}
                        </label> -->
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="Search()">{{'Search'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;">
        <div id="Grid" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns
            ui-grid-core ui-grid-exporter ui.grid.pinning></div>
    </div>
</form>
<!-- MODAL  -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" name="form" novalidate>
            </form>
            <div class="modal-body" style="padding-bottom:3px">
                <form class="form-horizontal" role="form" name="formCompany" novalidate>
                    <H4 style="background-color: #ececec; padding:3px">{{'detailuanvanInformation'|translate}}</H4>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'lv'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control key" type="text" ng-model="recod.lv" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'lvten'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="recod.lvten" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'lvloai'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="recod.lvloai" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'cm'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="recod.cm" ng-options="s.cm as s.cm+'-'+s.cmten for s in lscm"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'lvluutru'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="recod.lvluutru" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'lvngaynop'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="recod.lvngaynop" date-picker required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'lvtomtat'|translate}}</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" type="text" ng-model="recod.lvtomtat" required></textarea>
                        </div>
                    </div>

                    <H4 style="background-color: #ececec; padding: 5px">{{'Bổ sung quyết định học viên'|translate}}</H4>
                    <div >
                        <div class="form-group">
                            <div class="col-sm-2"></div>

                            <div class="col-sm-8">
                                Bộ lọc:<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <label>
                                    <input type="checkbox" ng-init="check.value1=true" ng-model="check.value1"
                                        ng-change="changeCheckValue()">{{'Chưa làm luận văn'|translate}}
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'hvhoten'|translate}}</label>
                            <div class="col-sm-4">
                                <select class="keyM" style="width:100%" ui-select2 ng-model="recod.hv" ng-change="changeValueHV(recod.hv)"
                                    required>
                                    <option ng-repeat="value in lshv" value="{{value.hv}}">
                                        {{value.hv}}-{{value.hvhoten}}
                                    </option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">*{{'cn'|translate}}</label>
                            <div class="col-sm-4">
                                <select class="form-control keyM" id="cn" ng-change="changeValueCN(recod.cn)" ng-model="recod.cn"
                                    ng-options="s.cn as s.cnten for s in lscn"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'nk'|translate}}</label>
                            <div class="col-sm-4">
                                <input class="form-control key" type="text" ng-model="recod.nk" required />
                            </div>
                            <label class="col-sm-2 control-label">*{{'qd'|translate}}</label>
                            <div class="col-sm-4">
                                <input class="form-control keyM" type="text" ng-model="recod.qd" required />
                            </div>
                        </div>
                    </div>
                    <H4 style="background-color: #ececec; padding: 5px">{{'Bổ sung giảng viên hướng dẫn'|translate}}</H4>
                    <form class="form-horizontal" role="form" name="formDetail" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'gvhoten'|translate}}</label>
                            <div class="col-sm-4">
                                <select id="gvhoten" style="width:100%" ui-select2 ng-model="items.gv" required>
                                    <option ng-repeat="value in lsgv" value="{{value.gv}}">
                                        {{value.gv}}-{{value.gvhoten}}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <button type="button" id="btnAdd" class="btn btn-primary" ng-click="addItem()"
                                    ng-disabled="formDetail.$invalid">
                                    {{'Add'|translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="40%">gvhoten</th>
                                <th width="20%">gvchucdanh</th>
                                <th width="30%">vaitro</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in detaillist">
                            <td title="gvhoten" width="40%">
                                {{item.gvhoten}}
                            </td>
                            <td title="'gvchucdanh'" width="20%">
                                {{item.gvchucdanh}}
                            </td>
                            <td title="'vaitrohuongdan'" width=30%">
                                {{item.vaitrohuongdan}}
                            </td>
                            <td width="10%">
                                <a ng-click="deleteItem($index)" class="btn-xs btn btn-danger">{{'Delete'|translate}}</a>
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <label class="col-sm-5" style="text-align: left;color: #FF0000;">{{'Vui lòng điền tất cả các
                    trường có dấu *'|translate}}</label>
                <button type="button" id="btnSubmit" class="btn btn-primary" ng-click="saveSubmit()" ng-disabled="">
                    {{'saveSubmit'|translate}}
                </button>
                <button type="button" class="btn btn-default" ng-click="reset()">{{'Close'|translate}}</button>
            </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</form>