<script type="text/javascript">
    function ContractorQuaProcess_safe($scope, EngineApi, $http, $timeout, Notifications, $upload, $compile, $filter, Auth, GateGuest, ConQuaService, $translatePartialLoader, $translate) {
        $translatePartialLoader.addPart('Contractor');
        $translate.refresh();
        $scope.passOrNot = GateGuest.GetCheckList();
        $scope.filedata = [];
        function parseArray(arrStr) {
            var tempKey = 'arr23' + new Date().getTime();//arr231432350056527
            var arrayJsonStr = '{"' + tempKey + '":' + arrStr + '}';
            var arrayJson;
            if (JSON && JSON.parse) {
                arrayJson = JSON.parse(arrayJsonStr);
            } else {
                arrayJson = eval('(' + arrayJsonStr + ')');
            }
            return arrayJson[tempKey];
        };
        $scope.note = {};
        ConQuaService.GetContractor().get({
            idCard: $scope.variable.eventStart_IdCard,
            EmployerId: $scope.variable.eventStart_Employer,
            Language: window.localStorage.lang
        }).$promise.then(function (res) {
                    $scope.note = res[0];
                    $scope.note.cers = res[0].Certificates;
                    $scope.note.inss = res[0].Insurances;
                    $scope.note.IdCard = $scope.variable.eventStart_IdCard;
                    $scope.PersonalEquipment = parseArray(res[0].PersonalEquipment);
                    $scope.note.PersonalEquip = "";
                    $scope.trainFile = JSON.parse(res[0].TTFile);
                    $scope.healthFile = JSON.parse(res[0].MIFile);
                    $scope.Employer = res[0].Employer
                    $scope.note.ValidTo = $filter('date')($scope.note.ValidTo, 'yyyy-MM-dd');
                    $scope.note.TTValidTo = $filter('date')($scope.note.TTValidTo, 'yyyy-MM-dd')
                    $scope.note.MIValidTo = $filter('date')($scope.note.MIValidTo, 'yyyy-MM-dd')
                    ConQuaService.GetEquipmentList().get({Language: window.localStorage.lang}).$promise.then(function (res) {
                        $scope.equips = res;
                        for (var i = 0; i < $scope.PersonalEquipment.length; i++) {
                            if ($scope.PersonalEquipment[i] != null && $scope.PersonalEquipment[i] != "false") {
                                for (var j = 0; j < $scope.equips.length; j++) {
                                    var eq = $scope.equips[j]
                                    if (eq.ID == $scope.PersonalEquipment[i]) {
                                        if ($scope.note.PersonalEquip == "") {
                                            $scope.note.PersonalEquip = eq.Equipment;
                                        }
                                        else {
                                            $scope.note.PersonalEquip = $scope.note.PersonalEquip + "/" + eq.Equipment;
                                        }
                                    }
                                }
                            }
                        }
                        //$scope.checkboxes = new Array($scope.equips.length);
                    }, function (errResponse) {
                        Notifications.addError({'status': 'error', 'message': errResponse});
                    });
                }, function (errResponse) {
                    Notifications.addError({'status': 'error', 'message': errResponse});
                });
        $scope.btSelect = function (p) {
            if (p === "YES") {
                $scope.formVariables.push({name: "agree4Safe", value: "YES"});
            } else {
                $scope.formVariables.push({name: "agree4Safe", value: "NO"});
                $scope.note.eventSafe_trainDate = "";
            }
        };
        $scope.$watch("eventSafe_TrainCode", function (n, o) {
            if (n !== undefined) {

                if (n.length > 5) {

                }
            }
        });

        /* $http.get('ehs/gate/Contractor/ConQuaTrainByCode?idCard=' + $scope.variable.eventStart_IdCard + '&employer=' + $scope.variable.eventStart_Employer).success(function (data) {
         console.log(data);
         $scope.trianfiles = data;
         }).error(function (data, status) {
         Notifications.addError({'status': 'error', 'message': "保存数据失败：" + status + data});
         });*/

        /*$scope.DeleteTrainfile = function (traincode) {
         $http.post('/ehs/Contractor/ConQuaDeleteTrain?idCard=' + $scope.variable.eventStart_IdCard + '&employer=' + $scope.variable.eventStart_Employer + "&TrainCode=" + traincode).success(function () {
         EngineApi.removeDoc().deletefile({"objectId": file.DocId}, function (res) {
         console.log("删除文件成功：" + file.OldName);
         });
         }).error(function (checkData, status) {
         console.error("删除文件失败!");
         Notifications.addError({'status': 'error', 'message': "删除文件信息失败：" + status + checkData});
         });
         }*/
        $scope.SaveTrainfile = function () {

            if ($scope.eventSafe_TrainCode && $scope.eventSafe_TrainCode.length < 6) {
                Notifications.addError({'status': 'error', 'message': $translate.instant("Msg_ConQua_Code")});
            } else {
                $('#fileModal').modal("show");

                /*   $http.post("/ehs/gate/Contractor/ConQuaTrain", {
                 TrainCode: $scope.eventSafe_TrainCode,
                 IdCard: $scope.variable.eventStart_IdCard,
                 Employer: $scope.variable.eventStart_Employer,
                 JsonFile: $scope.filedata
                 }).success(function (data) {
                 $('#fileModal').modal("show");
                 $scope.trianfiles.push(data.trainfile);
                 $scope.filedata = $scope.trianfiles;
                 }).error(function (checkData, status) {
                 console.error("删除文件失败!");
                 Notifications.addError({'status': 'error', 'message': "删除文件信息失败：" + status + checkData});
                 });*/
            }
        }
        $scope.saveFile = function () {
            $('#fileModal').modal("hide");
        };
        $scope.cancel = function () {
            $scope.filedata = [];
            $('#fileModal').modal('hide')
        }
        $scope.save = function () {
            //  $scope.historyVariable.push({"name": "培训文件", "value": JSON.stringify($scope.filedata)});
            if ($scope.eventSafe_passOrNot === "YES") {
                console.log($scope.note.eventSafe_trainDate)
                //必填培训日期
                if (!$scope.note.eventSafe_trainDate) {
                    Notifications.addError({'status': 'error', 'message': $translate.instant("Msg_ConQua_TrainDate")});
                } else {
                    ConQuaService.ContractorDone().save({
                        idCard: $scope.note.IdCard,
                        employerId: $scope.variable.eventStart_Employer,
                        trainDate: $scope.note.eventSafe_trainDate
                    }).$promise.then(function (res) {
                        console.log(res)
                        $scope.formVariables.push({"name": "agree4Safe", "value": "YES"});
                        $scope.submit()
                    }, function (errResponse) {
                        Notifications.addError({'status': 'error', 'message': errResponse});
                    });
                }
            } else {
                $scope.submit();
            }
        }
    }
</script>

<div ng-controller="ContractorQuaProcess_safe">
    <form class="form-horizontal" role="form" novalidate name="form">
        <legend><h3>{{'ContractorQua'|translate}}--{{'SafeCheck'|translate}}</h3></legend>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'IdCard'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="string" ng-model="note.IdCard" readonly/>
            </div>
            <label class="col-sm-2 control-label">{{'ContractorBelong'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="string" ng-model="Employer" readonly/>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'ConName'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="string" ng-model="note.Name" readonly/>
            </div>
            <label class="col-sm-2 control-label">{{'phone'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="string" ng-model="note.Phone" readonly/>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Remark'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="string" ng-model="note.Remark" readonly/>
            </div>
            <label class="col-sm-2 control-label">{{'ValidTo'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="string" ng-model="note.ValidTo" readonly/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'PersonalEquipment'|translate}}</label>

            <div class="col-sm-8">
                <input class="form-control" type="string" ng-model="note.PersonalEquip" readonly/>
            </div>
        </div>
        <H4 style="background-color: #ececec; padding: 5px">{{'PersonalQualification'|translate}}</H4>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Certificates'|translate}}</label>

            <div class="col-sm-8">
                <table class="table  table-hover table-condensed">
                    <thead>
                    <tr style="background-color:#FAFAFA;">
                        <th>{{'CertificatesNO'|translate}}</th>
                        <th>{{'CerName'|translate}}</th>
                        <th>{{'IssuedBy'|translate}}</th>
                        <th>{{'ValidTo'|translate}}</th>
                        <th>{{'File'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in note.cers">
                        <td>{{c.CerId}}</td>
                        <td>{{c.CerNameRemark}}</td>
                        <td>{{c.IssuedByRemark}}</td>
                        <td>{{c.ValidTo}}</td>
                        <td>
                            <div ng-repeat="file in c.Files">
                                <div>
                                    <a ng-href='/api/cmis/downfile?filename={{file.DocId}}&Name={{file.Name}}'
                                       class="a-file">{{file.OldName}}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'Ins'|translate}}</label>

            <div class="col-sm-8">
                <table class="table  table-hover table-condensed">
                    <thead>
                    <tr style="background-color:#FAFAFA;">
                        <th>{{'InsID'|translate}}</th>
                        <th>{{'InsName'|translate}}</th>
                        <th>{{'ValidTo'|translate}}</th>
                        <th>{{'File'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in note.inss">
                        <td>{{i.InsId}}</td>
                        <td>{{i.InsNameRemark}}</td>
                        <td>{{i.ValidTo}}</td>
                        <td>
                            <div ng-repeat="file in i.Files">
                                <div>
                                    <a ng-href='/api/cmis/downfile?filename={{file.DocId}}&Name={{file.Name}}'
                                       class="a-file">{{file.OldName}}</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'MedicalInspection'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" type="string" ng-model="note.MedicalInspection" readonly/>
            </div>
            <label class="col-sm-2 control-label">{{'ValidTo'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" type="string" ng-model="note.MIValidTo" readonly/>
            </div>
            <div class="col-sm-2 ">
                <div ng-repeat="myfile in healthFile">
                    <div class="btn-group" style="margin-bottom: 2px;padding: 0px; width:100%;">
                        <a class="btn btn-info btn-xs" role="button"
                           href="/bpm/api/default/bpm-rest-api/file/downfile/{{myfile.DocId}}"
                           title="{{myfile.OldName}}"> {{myfile.OldName}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{'TrainTime'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" type="string" ng-model="note.TrainTime" readonly/>
            </div>
            <label class="col-sm-2 control-label">{{'ValidTo'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" type="string" ng-model="note.TTValidTo" readonly/>
            </div>
            <div class="col-sm-2">
                <div ng-repeat="myfile in trainFile">
                    <div class="btn-group" style="margin-bottom: 2px;padding: 0px; width:100%;">
                        <a class="btn btn-info btn-xs" role="button"
                           href="/bpm/api/default/bpm-rest-api/file/downfile/{{myfile.DocId}}"
                           title="{{myfile.OldName}}"> {{myfile.OldName}}</a>
                    </div>
                </div>
            </div>
        </div>

        <H4 style="background-color: #ececec; padding: 5px">{{'leaderCheck'|translate}}</H4>

        <div class="form-group">
            <label class="col-sm-2 control-label">{{'IsPass'|translate}}</label>

            <div class="col-sm-3">
                <select ng-change="btSelect(eventSafe_passOrNot)" class="form-control" history-field="IsPass"
                        form-field name="eventSafe_passOrNot" ng-model="eventSafe_passOrNot"
                        ng-options="c.value as c.name for c in passOrNot" required> </select>
            </div>
        </div>

        <div class="form-group" ng-if="eventSafe_passOrNot == 'NO'">
            <label class="col-sm-2 control-label">{{'DenyReason'|translate}}</label>

            <div class="col-sm-6 ">
                <textarea class="form-control" name="eventSafe_advice" history-field="DenyReason" form-field type="string"
                       ng-model="eventSafe_advice" field-validate rows="3"/>
            </div>
        </div>
        <div class="form-group"  ng-if="eventSafe_passOrNot == 'YES'">
            <label class="col-sm-2 control-label">{{'TrainDate'|translate}}</label>

            <div class="col-sm-3">
                <input class="form-control" type="text" date-picker readonly history-field="TrainDate" form-field
                       ng-model="note.eventSafe_trainDate"/>
            </div>
        </div>
        <div class="form-group"  ng-if="eventSafe_passOrNot == 'YES'">
            <label class="col-sm-2 control-label">{{'TrainFileCode'|translate}}</label>

            <div class="col-sm-2">
                <input class="form-control" type="string" ng-model="eventSafe_TrainCode" field-validate
                       placeholder="TrainFileCode"/>
            </div>
            <label class="col-sm-1 control-label">{{'File'|translate}}</label>

            <div class="col-sm-1">
                <button class="btn btn-primary btn-sm" ng-click="SaveTrainfile()">{{'UploadFile'|translate}}</button>
            </div>
            <div class="col-sm-6">
                <div ng-repeat="file in filedata">
                    <div class="col-sm-4">
                        <a ng-href='/api/cmis/downfile?filename={{file.DocId}}&Name={{file.Name}}'
                           class="a-file"> {{file.OldName}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">{{'submit'|translate}}
                </button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="fileModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <my_delfile></my_delfile>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cancel()">{{'Close'|translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="saveFile()">{{'Add'|translate}}</button>
                </div>
            </div>
        </div>
    </div>

</div>