<style>
     table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
        visibility: hidden;
        clear: both;
    }

    thead th {
        height: 30px;

        /* text-align: left; */
    }

    tbody {
        height: 120px;
        overflow-y: auto;
    }

    thead {
        /* fallback */
    }


    tbody td,
    thead th {
        /* width: auto; */
        float: left;
    }
</style>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:3px">
                <div></div>
                <form class="form-horizontal model-form " name="form">
                    <div ng-hide="userinfo.Company=='VC'">
                        <H4 style="background-color: #ececec; padding: 5px">{{'VoucherInformation'|translate}}</H4>
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">*{{'OwnerComp'|translate}}</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="OwnerComp" ng-model="recod.owner_comp" ng-options="c.CompID as c.CompName for c in company | filter :{Type:'O'} "
                                    required ng-disabled="IsReady"></select>
                            </div>
                            <label class="col-sm-2 control-label">*{{'ProcessComp'|translate}}</label>

                            <div class="col-sm-4">

                                <select class="form-control" id="ProcessComp" name="ProcessComp" ng-model="recod.process_comp" ng-options="d.CompID as d.CompName for d in company | filter:{Type:'P'}"
                                    ng-change="processcomp_reupdate_wastelist(recod.process_comp)" required ng-disabled="IsReady"></select>
                            </div>
                        </div>
                        <div class=" form-group ">
                            <label class="col-sm-2 control-label">*{{'DepartReq'|translate}}</label>
                            <div class="col-sm-4">
                                <select style="width:100%" ui-select2 ng-model="recod.depart_req" name="depart_req" required>
                                    <option ng-repeat="value in cdepartments" value="{{value.CostCenter}}">
                                        {{value.Specification}}
                                    </option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">*{{'DepartProcess'|translate}}</label>
                            <div class="col-sm-4">
                                <select style="width:100%" ui-select2 ng-model="recod.depart_process" name="depart_process" required>
                                    <option ng-repeat="value in departments" value="{{value.CostCenter}}">
                                        {{value.Specification}}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'DateOut'|translate}}</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="dateFrom" ng-model="recod.date_out " date-picker required/>
                            </div>
                            <label class="col-sm-2 control-label">{{'DateComplete'|translate}}</label>

                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="dateTo" ng-model="recod.date_complete" date-picker/>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">{{'InternalPhone'|translate}}</label>
                            <div class="col-sm-4">
                                <input type="tel" class="form-control" name="InternalPhone" type="tel" ng-model="recod.internal_phone">
                            </div>
                            <label class="col-sm-2 control-label">{{'Location'|translate}}</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" type="text" name="Location" ng-model="recod.location" />
                            </div>
                        </div>
                    </div>
                </form>
                <div ng-hide="userinfo.Company=='VC'">
                    <H4 style="background-color: #ececec; padding: 5px">{{'VoucherItemsInformation'|translate}}</H4>
                    <form class="form-horizontal" role="form" name="formdetail" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'WasteName'|translate}}</label>
                            <div class="col-sm-4">
                                <select style="width:100%" ui-select2 ng-model="gd.WasteID" name="WasteID" ng-change="changedValue(gd.WasteID)" required>
                                    <option ng-repeat="value in lsWastItems" value="{{value.WasteID}}">
                                        {{value.WasteDescription}}
                                    </option>
                                </select>
                            </div>

                            <label class="col-sm-2 control-label">{{'MethodName'|translate}}</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="method_name" ng-model="gd.method_name" max="0" disabled />
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary" ng-click="addWasteItem()" ng-disabled="formdetail.$invalid">{{'Add'}}
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">*{{'Quantity'|translate}}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" name="Quantity" type="number" placeholder='0' value="333" ng-model="gd.Quantity"
                                    required>
                            </div>
                            <label class="col-sm-2 control-label">*{{'Weight'|translate}} (kg)</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" name="Weight" step="any" placeholder="0.00" ng-model="gd.Weight" required>
                            </div>
                        </div>
                    </form>
                    <table id="temptable" ng-table="tableParams" class="table table-bordered table-striped ">
                        <!-- <thead>
                            <tr>
                                <td  width="35%">ItemName</td>
                                <td width="35%">MethodName</td>
                                <td width="10%">Quantity</td>
                                <td width="10%">Weight</td>
                                <td width="10%">Action</td>
                            </tr>
                        </thead> -->
                        <tr ng-repeat="wasteItem in wasteItems">
                            <td title="WasteName" width="35%">
                                {{wasteItem.waste_name}}
                            </td>
                            <td title="'MethodName'" width="35%">
                                {{wasteItem.method_name}}
                            </td>
                            <td title="'Quantity'" width="10%">
                                {{wasteItem.Quantity}}
                            </td>
                            <td title="'Weight'" width="10%">
                                {{wasteItem.Weight}}
                            </td>
                            <td width="10%">
                                <a ng-click="deleteWasteItem($index)" class="btn-xs btn btn-danger">{{'Delete'|translate}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnSaveSubmit" type="button" class="btn btn-primary" ng-click="saveSubmit()" ng-disabled="form.$invalid||wasteItems.length<1">
                        {{'saveSubmit'|translate}}
                    </button>
                    <button type="button" class="btn btn-default" ng-click="reset()">{{'close'|translate}}</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->