<style>
    @media (min-width: 768px) {
        .bs-glyphicons {
            margin-right: 0;
            margin-left: 0;
        }
    }
    .bs-glyphicons {

        overflow: hidden;
    }
    .bs-glyphicons-list {
        padding-left: 0;
        list-style: none;
    }
    .bs-glyphicons li:hover {
        color: #ff851b;
        background-color: #fcf8e3;
    }
    @media (min-width: 768px) {
        .bs-glyphicons li {
            width: 12.5%;
            font-size: 12px;
        }
    }
    .glyphicon-class {
        font-size: 12px;
    }
    .bs-glyphicons li {
        float: left;
        width: 33%;
        height: 120px;
        padding: 10px;

        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        /*background-color: #f9f9f9;*/
        border: 1px solid #f5f5f5;
    }
    @media (min-width: 768px) {
        .bs-glyphicons li {
            float: left;
            width: 25%;
            height: 130px;
            padding: 10px;

            font-size: 10px;
            line-height: 1.4;
            text-align: center;
            /*background-color: #f9f9f9;*/
            border: 1px solid #f5f5f5;
        }
        .glyphicon-class {
            font-size: 16px;
        }
    }

    .bs-glyphicons-list li a  {
        display: block;

        color: #333;
    }
    .bs-glyphicons-list li a:hover  {
        color: #ff4a00;
        text-decoration:none;
    }
    .bs-glyphicons .glyphicon {
        color: #6d6d6d;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 60px;
    }

    .bs-glyphicons .glyphicon-class {
        display: block;
        text-align: center;
        color: #000000;
        word-wrap: break-word;
    }
</style>

<div class="container" >
    <div class="row" style="padding-top: 20px; ">
        <div class="col-xs-12">


      <!--  <a href="http://10.17.31.70"><img src="css/image/mj.jpg" alt="140*140" alter="门禁系统" class="img-thumbnail"></a>
            <a href="http://10.17.31.17/e"><img src="css/image/ny.jpg" alt="140*140" alter="能源系统" class="img-thumbnail"></a>
            <a href="http://10.17.207.250/dm"><img src="css/image/ny.jpg" alt="140*140" alter="宿管系统" class="img-thumbnail"></a>-->
            <div class="bs-glyphicons">
                <ul class="bs-glyphicons-list">

                    <li style="">
                        <a href="http://10.17.31.70" >  <span  style="color: #1fa51f" class="glyphicon glyphicon-log-out"></span>
                            <span class="glyphicon-class">门禁系统</span></a>
                    </li>

                    <li>
                        <a href="http://10.17.31.17/e"> <span  style=" color: #1fa51f" class="glyphicon glyphicon-stats"></span>
                            <span class="glyphicon-class">电量计算</span></a>
                    </li>
                    <li style="">
                        <a href="http://10.17.207.250/dm"> <span style=" color:#1fa51f"  class="glyphicon glyphicon-user"></span>
                            <span class="glyphicon-class">宿管系统</span></a>
                    </li>
                    <li style="">
                        <a href="http://10.17.31.76"> <span style=" color:#1fa51f"  class="glyphicon glyphicon-th"></span>
                            <span class="glyphicon-class">品管系统</span></a>
                    </li>
                    <li>
                        <a href="http://10.17.31.95:808"> <span  style=" color: #1fa51f" class="glyphicon glyphicon-tasks"></span>
                            <span class="glyphicon-class">能源系统</span></a>
                    </li>

                    </ul>

                </div>
        </div>
     </div>
 </div>