

<form class="form-horizontal"  role="form" novalidate   name="form" >
    <legend><h3>{{ 'ChangePassword' | translate }}</h3>  </legend>

    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'CurrentPassword' | translate }}</label>
        <div class="col-sm-3 ">
            <input  class="form-control" id="oldP" ng-model="oldP" type="password"   required />
        </div>
        </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'NewPassword' | translate }}</label>
        <div class="col-sm-3 ">
            <input  class="form-control" id="newPassword" ng-model="newPassword" type="password"  required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'ConfirmNewpassword' | translate }}</label>
        <div class="col-sm-3 ">
            <input  class="form-control" id="newPassword2" ng-model="newPassword2" type="password"  required />
        </div>
    </div>
    <div>
        <div class="col-sm-2 ">
            </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="sumbit()"
                    ng-disabled="form.$invalid||newPassword2 != newPassword" >{{ 'saveSubmit' | translate }}</button>

        </div>
    </div>
    </form>