<style>
    .modal-lg {
        width: 900px;
    }

    .form-table {
        width: 100%;
        display: inline-block;
        padding: 15px 0px;
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 5px
    }

    li {
        list-style-type: none;
    }

    li ul {
        display: none;
        border: 1px solid #000000;
        margin-left: -3px;
    }
</style>
<form class="form-horizontal" role="form" novalidate name="form" style="padding-top:30px">
    <legend>
        <h3>{{'Gửi mail'|translate}}</h3>
    </legend>
    <div class="col-sm-12 form-group">
        <div class="form-group search-table">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'NGƯỜI GỞI'|translate}}</label>
                <div class="col-sm-3">
                    <label>
                        (<input name="onlyOwner" type="checkbox" ng-model="typeEmailCheck"> {{'Để tôi tự nhập email
                        người
                        gởi'|translate}}
                    </label>)

                </div>

                <div class="col-sm-5">
                    <input class="form-control" ng-model="toemails" ng-hide="!typeEmailCheck">
                </div>
            </div>
            <div class="form-group" ng-hide="typeEmailCheck">
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">{{'Bộ môn'|translate}}</label>
                <div class="col-sm-3">
                    <select style="width:100%" ui-select2 name="DepartProcess" ng-model="tobm" ng-change="tobm_change(tobm)" >
                        <option value="">{{'Gửi đến tất cả' | translate}}</option>
                        <option ng-repeat="value in lsbm" value="{{value.bm}}">
                            {{value.tenbm}}
                        </option>

                    </select>
                </div>
                <label class="col-sm-1 control-label">{{'Chỉ định sinh viên'|translate}}</label>
                <div class="col-sm-3">
                    <select style="width:100%" ui-select2 name="toemail" ng-model="toemail">
                        <option value="">{{'Gửi đến tất cả' | translate}}</option>
                        <option ng-repeat="value in lshv" value="{{value.hv}}">
                            {{value.hvhoten}}
                        </option>

                    </select>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'TIÊU ĐỀ'|translate}}</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="VoucherNumber" ng-model="subject">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'NỘI DUNG'|translate}}</label>

                <div class="col-sm-8">
                    <textarea type="text" class="form-control" name="VoucherNumber" ng-model="body">
                        </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="SendMail()">{{'Gửi mail'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>