<style>
    .theme-img.boxshadow,
    .theme-img-s.boxshadow {
        background-color: #FFF;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .theme-thumb.boxshadow {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .browser-bar-xl {
        display: block;
        height: 6px;
        background-color: #E6E6E6;
        padding: 6px 10px;
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
    }

    img {
        max-width: 100%;
        width: auto\9;
        height: auto;
        border: 0;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }

    h1.featured,
    h2.featured {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #main-footer {
        margin-top: 20px;
        background: #E6E6E6;
        color: #64686D;
    }

    .panel {
        margin-bottom: 5px !important;
    }

    .list {
        cursor: pointer;
    }
</style>
<div class="container">
    <form ng-keypress="($event.charCode==13)? Search(): return" class="form-horizontal" role="form" novalidate name="form"
        style="padding-top:30px">
        <legend>
            <h3>{{'phanquyenQuery'|translate}}</h3>
        </legend>
        <div class="col-sm-12 form-group">
            <div class="form-group">
                <div class="form-group">
                    <label class="col-sm-1 control-label">{{'Người dùng'|translate}}</label>
                    <div class="col-sm-3">
                        <select ui-select-2 style="width:100%" id="gv" ng-model="gv" ng-change="gv_change()" required>
                            <option ng-repeat="value in lsgv" value="{{value.gv}}">
                                {{value.gv}}-{{value.gvhoten}}
                            </option>
                        </select>
                    </div>
                    <label class="col-sm-1 control-label">{{'tcode'|translate}}</label>
                    <div class="col-sm-3">
                        <select ui-select-2 style="width:100%" id="tc" ng-model="tc" required>
                            <option ng-repeat="value in lstc" value="{{value.tcode}}">
                                {{value.tcode}}-{{value.tcname}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <label>
                            <input name="grant" type="checkbox" ng-model="grantoption"> {{'grantvoke'|translate}}
                        </label>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" ng-click="addItem()">{{'grant'|translate}}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <label></label>
                    </div>


                </div>
            </div>
        </div>
</div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="20%">{{'tcode'|translate}}</th>
            <th width="30%">{{'tcname'|translate}}</th>
            <th width="30%">{{'usergrant'|translate}}</th>
            <th width="10%">{{'grantvoke'|translate}}</th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tr ng-repeat="item in detaillist">
        <td title="tcode" width="20%">
            {{item.tcode}}
        </td>
        <td title="'tcname'" width="30%">
            {{item.tcname}}
        </td>
        <td title="'usergrant'" width="30%">
            {{item.usergrant}}
        </td>
        <td title="'grantvoke'" width="10%">
            {{item.grantvoke}}
        </td>
        <td width="10%">
            <a ng-hide="username!=item.usergrant && item.usergrant!='' && !isAdmin" ng-click="deleteItem(item.tcode)" class="btn-xs btn btn-danger">{{'Revoke'|translate}}</a>
        </td>
    </tr>
</table>
<!-- mynode1231231213123122 -->
</div>