<style>
    .modal-lg {
            width: 900px;
        }
        .form-table {
            width: 100%;
            display: inline-block;
            padding: 15px 0px;
            margin-bottom: 15px;
        }
        .form-group {
            margin-bottom: 5px
        }
        li {
            list-style-type: none;
        }
        li ul {
            display: none;
            border: 1px solid #000000;
            margin-left: -3px;
        }
        table {
               width: 100%;
           }
    
           thead, tbody, tr, td, th { display: block; }
    
           tr:after {
               content: ' ';
               display: block;
           visibility: hidden;
           clear: both;
       }
    
       thead th {
           height: 30px;
    
           /* text-align: left; */
       }
    
       tbody {
           height: 120px;
           overflow-y: auto;
       }
    
    
       tbody td,
       thead th {
           /* width: auto; */
           float: left;
       }
    </style>
<form></form>
<form ng-keypress="($event.charCode==13)? Search(): return" class="form-horizontal" role="form" novalidate name="form"
    style="padding-top:30px">
    <legend>
        <h3>{{'giangvienQuery'|translate}}</h3>
    </legend>
    <div class="col-sm-12 form-group">
        <div class="form-group search-table">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'gv'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="gv" />
                </div>
                <label class="col-sm-2 control-label">{{'bm'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="bm" ng-disabled="!isAdmin" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'cm'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="cm" />
                </div>
                <label class="col-sm-2 control-label">{{'dv'|translate}}</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="dv" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5"></div>
                <label class="col-sm-2 control-label">{{'Status'|translate}}</label>
                <div class="col-sm-3">
                    <select class="form-control" name="s_status" ng-change="Search()" ng-model="s_status" ng-options="s.id as s.name for s in statuslist">
                        <option value="">{{'Show All' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <label></label>
                </div>
                <div class="col-sm-3">
                    <!-- <label>
                            <input name="onlyOwner" type="checkbox" ng-model="onlyOwner"> {{'onlyOwner'|translate}}
                        </label> -->
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" ng-click="Search()">{{'Search'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;">
        <div id="Grid" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns
            ui-grid-core ui-grid-exporter></div>
    </div>
</form>
<!-- MODAL  -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" name="form" novalidate>
            </form>
            <div class="modal-body" style="padding-bottom:3px">
                <form class="form-horizontal" role="form" name="main_form" novalidate>
                    <H4 style="background-color: #ececec; padding:3px">{{'giangvienInformation'|translate}}</H4>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'gv'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control key" type="text" ng-model="recod.gv" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'gvhoten'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="recod.gvhoten" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'gvgioitinh'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control " type="text" ng-model="recod.gvgioitinh" required >
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'gvchucdanh'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control " type="text" ng-model="recod.gvchucdanh" required >
                            <option value="THS">Thạc sĩ</option>
                            <option value="TS">Tiến sĩ</option>
                            <option value="PGS">Phó giáo sư - tiến sĩ</option>
                            <option value="GS">Giáo sư - tiến sĩ</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'gvnamcongtac'|translate}}</label>
                        <div class="col-sm-4">
                            <input date-picker class="form-control " type="text" ng-model="recod.gvnamcongtac" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'gvquoctich'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="recod.gvquoctich" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'gvngaysinh'|translate}}</label>
                        <div class="col-sm-4">
                            <input date-picker class="form-control " type="text" ng-model="recod.gvngaysinh" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'gvnoio'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control " type="text" ng-model="recod.gvnoio" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'gvsodienthoai'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control " type="text" ng-model="recod.gvsodienthoai" required />
                        </div>
                        <label class="col-sm-2 control-label">*{{'gveil'|translate}}</label>
                        <div class="col-sm-4">
                            <input class="form-control " type="text" ng-model="recod.gveil" required />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'dv'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="recod.dv" ng-options="s.dv as s.dv+'-'+s.dvten for s in lsdv"></select>
                        </div>
                        <label class="col-sm-2 control-label">*{{'bm'|translate}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="recod.bm" ng-options="s.bm as s.bm+'-'+s.bmten for s in lsbm"></select>
                        </div>

                    </div>
                </form>
                <form></form>

                <H4 style="background-color: #ececec; padding: 5px">{{'cmgv'|translate}}</H4>
                <form class="form-horizontal" role="form" name="formDetail" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">*{{'cm'|translate}}</label>
                        <div class="col-sm-4">
                            <select ui-select-2 style="width:100%" id="cm" ng-model="items.cm" required>
                                <option ng-repeat="value in lscm" value="{{value.cm}}">
                                    {{value.cm}}-{{value.cmten}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <button type="button" id="btnAdd" class="btn btn-primary" ng-click="addItem()" ng-disabled="formDetail.$invalid">
                                {{'Add'|translate}}
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="40%">cm</th>
                            <th width="50%">cmten</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in detaillist">
                        <td title="cm" width="40%">
                            {{item.cm}}
                        </td>
                        <td title="cten" width="50%">
                            {{item.cmten}}
                        </td>
                        <td width="10%">
                            <a ng-click="deleteItem($index)" class="btn-xs btn btn-danger">{{'Delete'|translate}}</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <label class="col-sm-5" style="text-align: left;color: #FF0000;">{{'Vui lòng điền tất cả các trường có
                    dấu *'|translate}}</label>
                <button type="button" id="btnSubmit" class="btn btn-primary" ng-click="saveSubmit()" ng-disabled="">
                    {{'saveSubmit'|translate}}
                </button>
                <button type="button" class="btn btn-default" ng-click="reset()">{{'Close'|translate}}</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</form>